<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japan</title>
</head>
<body>
    <h1>
        How about visiting Japan
    </h1>
    <p>Japan is a small country but its people have a lot to share with the world...</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP-KrGuT19vQIVNlJDk1EoG9ToTWD-PUUXHQ&usqp=CAU" alt="Beautiful Japan">
</body>
</html>