<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Fransisco</title>
</head>
<body style="background-color:aqua;">
    <h1 style="color:red;">Come along be a <em>San Fransiscan!</em></h1>
    <p>Go around in fancy resaurants without paying taste chocolates as many as you want all in what you pay us...</p>
    <img src="https://www.gousa.in/sites/default/files/styles/16_9_1280x720/public/2016-10/Getty_591648687_Brand_City_SanFrancisco_Hero_FinalCrop.jpg?itok=NqcWiJZn" alt="San!!">
</body>
</html>